version: '3.8'

services:
  # --- Dịch vụ Proxy (Giữ nguyên) ---
  proxy:
    image: ninanung/nginx-proxy
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    ports:
      - "80:80"

  # --- Dịch vụ Whoami (SỬA: Thêm expose) ---
  whoami:
    image: traefik/whoami
    environment:
      - VIRTUAL_HOST=whoami.colasloth.com


  hello:
    image: nginx:1.19-alpine
    volumes:
      - ./hello.html:/usr/share/nginx/html/index.html:ro
    environment:
      - VIRTUAL_HOST=hello.colasloth.com
      
  world:
    image: nginx:1.19-alpine
    volumes:
      - ./world.html:/usr/share/nginx/html/index.html:ro
    environment:
      - VIRTUAL_HOST=world.colasloth.com